In [1]:
import pandas as pd

df= pd.read_csv("https://raw.githubusercontent.com/JackyP/testing/master/datasets/nycflights.csv",
                usecols=range(1,17))

In [2]:
#Method 1: Dataframe way
newdf=df[(df.origin =="JFK") & (df.carrier == "B6")]

newdf.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
8,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
10,2013,1,1,558.0,-2.0,849.0,-2.0,B6,N793JB,49,JFK,PBI,149.0,1028,5.0,58.0
11,2013,1,1,558.0,-2.0,853.0,-3.0,B6,N657JB,71,JFK,TPA,158.0,1005,5.0,58.0
15,2013,1,1,559.0,0.0,702.0,-4.0,B6,N708JB,1806,JFK,BOS,44.0,187,5.0,59.0

In [8]:
# Method 2: Query Function
newdf=df.query('origin =="JFK" & carrier == "B6"')

In [9]:
# Method 3: loc Function
newdf=df.loc[(df.origin =="JFK") & (df.carrier == "B6")]

In [12]:
df.iloc[:5,] #First 5 rows

df.iloc[1:5,] #Second to Fifth row 
df.iloc[5,0] #Sixth row and Ist column

df.iloc[1:5,0] #Second to Fifth row, first column

df.iloc[1:5,:5] #Second to Fifth row, first 5 columns

df.iloc[2:7,1:3] #Third to Seventh row, 2nd and 3rd column

   month  day
2      1    1
3      1    1
4      1    1
5      1    1
6      1    1

In [14]:
# Long Way
newdf=df.loc[(df.origin =="JFK") | (df.carrier == "LGA")]

# Smart Way
newdf=df[df.origin.isin(["JFK","LGA"])]

In [16]:
# Select rows Whose column value does not equal a specific value
newdf=df.loc[(df.origin !="JFK") | (df.carrier == "LGA")]

pd.unique(newdf.origin)

array(['EWR', 'LGA'], dtype=object)

In [17]:
# How to negate whole condition
newdf=df[~((df.origin =="JFK") | (df.carrier == "LGA"))]

In [18]:
# Select non Missing data in pandas Dataframe
newdf=df[df.origin.notnull()]

In [41]:
# Filtering string in pandas dataframe

import pandas as pd
df=pd.DataFrame({"var1":["AA_2","B_1","C_2","A_2"]})

In [45]:
# Select rows having values starting from letter 'A'
import pandas as pd
df=pd.DataFrame({"var1":["AA_2","B_1","C_2","A_2"]})
df=[df['var1'].str[0] =='A']

In [46]:
#Filtering Row having string length greater than 3
import pandas as pd
df=pd.DataFrame({"var1":["AA_2","B_1","C_2","A_2"]})
df=[df['var1'].str.len()>3]

In [47]:
# Select string containing letters A or B
import pandas as pd
df=pd.DataFrame({"var1":["AA_2","B_1","C_2","A_2"]})
df[df['var1'].str.contains('A|B')]

   var1
0  AA_2
1   B_1
3   A_2

In [71]:
# Handle Space in Column name while filtering 
import pandas as pd
df=pd.DataFrame({"var1":["AA_2","B_1","C_2","A_2"]})
df.rename(columns={'var1':'var2'},inplace=True)
# newdf=df.query("'var2'=='AA_2'")

In [77]:
# How to filter data without using pandas package?
import csv

import requests

response=requests.get('https://dyurovsky.github.io/psyc201/data/lab2 2/nycflights.csv').text

lines=response.splitlines()
d=csv.DictReader(lines)

lst_df=list(d)

# lst_df