In [1]:
# Import necessary libraries
import pandas as pd
import xml.etree.ElementTree as ET
import sqlite3

# Import CSV file
csv_data = pd.read_csv('Salary Data.csv')
print("CSV Data:\n", csv_data.head())

CSV Data:
     Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

In [2]:
# Import Excel file (XLSX)
xlsx_data = pd.read_excel('HR_Analytics.xlsx')
print("XLSX Data:\n", xlsx_data.head())

XLSX Data:
    EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0  RM297   18    18-25       Yes      Travel_Rarely        230
1  RM302   18    18-25        No      Travel_Rarely        812
2  RM458   18    18-25       Yes  Travel_Frequently       1306
3  RM728   18    18-25        No         Non-Travel        287
4  RM829   18    18-25       Yes         Non-Travel        247

               Department  DistanceFromHome  Education EducationField  ...  \
0  Research & Development                 3          3  Life Sciences  ...
1                   Sales                10          3        Medical  ...
2                   Sales                 5          3      Marketing  ...
3  Research & Development                 5          2  Life Sciences  ...
4  Research & Development                 8          1        Medical  ...

   RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                         3             80                 0
1                         1             80                 0
2                         4             80                 0
3                         4             80                 0
4                         4             80                 0

  TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                 0                      2                3               0
1                 0                      2                3               0
2                 0                      3                3               0
3                 0                      2                3               0
4                 0                      0                3               0

  YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager
0                  0                        0                  0.0
1                  0                        0                  0.0
2                  0                        0                  0.0
3                  0                        0                  0.0
4                  0                        0                  0.0

[5 rows x 38 columns]

In [3]:
# Import XML file
import xml.etree.ElementTree as ET
tree = ET.parse('Data.xml')
root = tree.getroot()
print("XML Data:")
for child in root:
    print(child.tag, child.attrib)

XML Data:
doi {}
name {}
description {}
language {}
log_type {}
process_type {}
creation {}
source {}
rights {'type': 'Public'}
number_of_traces {}
number_of_events {}
events_per_trace {}
min_events_per_trace {}
max_events_per_trace {}
global_attributes {}
meta_extensions {}
extensions {}

In [4]:
import sqlite3

# Create a new SQLite database (or connect to an existing one)
conn = sqlite3.connect('new_database.db')

# Create a cursor object
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

# Insert sample data
cursor.execute('''
INSERT INTO students (name, age) VALUES
('Alice', 21),
('Bob', 22),
('Charlie', 23)
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [5]:
import sqlite3
import pandas as pd

# Connect to the new SQLite database
conn = sqlite3.connect('new_database.db')

# Execute the SQL query and load the data into a DataFrame
sql_data = pd.read_sql_query("SELECT * FROM students", conn)

# Print the first few rows of the DataFrame
print("SQL Data:\n", sql_data.head())

SQL Data:
    id     name  age
0   1    Alice   21
1   2      Bob   22
2   3  Charlie   23